<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.dao.UserPermMapper">

<resultMap type="Permission" id="Permission">
   <id column="id" property="id" javaType="java.lang.Integer" jdbcType="NUMERIC"/>
   <id column="perm" property="perm" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>

<select id="findPermByUsername" resultType="string">
    SELECT
        perm
    FROM
        role_perm_relation
    WHERE
        role_name IN ( SELECT role_name FROM user_role_relation WHERE username = #{username} ) UNION
    SELECT
        perm
    FROM
        user_perm_relation
    WHERE
        username = #{username}
</select>

</mapper>